body {
    background-color: black;
    color: beige;
    box-sizing: border-box;
}

.container-flex-top, .container-flex-bottom, .container-flex-center, .container-flex-center2  {
    background-color: aqua;
    height: 150x;
    border-radius: 10px;
    margin-bottom: 10px;    
}

.item-flex {
    background-color: aliceblue;
    border: 2px solid silver;
    color: dimgrey;
    border-radius: 10px;
    font-size: 30px;    
    margin: 15px;
    padding: 5px;        
}

