div {
    text-align: center;
}

.container-flex-top {
    display: flex;
    flex-direction: row;   
}

.container-flex-bottom {
    display: flex;
    flex-direction: row;

}

.container-flex-top .f1 {
    flex: 2;
    flex-basis: 0;
}

.container-flex-top .f2 {
    flex: 1;
    flex-basis: 0;
}

.container-flex-top  .f3 {
    flex: 2;
    flex-basis: 0;
}

.container-flex-bottom .f1 {
    flex: 4;
    flex-basis: 0;    
}

.container-flex-bottom .f2 {
    flex: 2;
    flex-basis: 0;
}

.container-flex-bottom  .f3 {
    flex: 1;
    flex-basis: 0;
}



