.container-flex-top{
    display: flex;
    flex-direction: row;   
}

.container-flex-top .item-flex {
    flex: 1 0;
}

.container-flex-bottom {
    display: flex;
    flex-direction: row;

}

.container-flex-bottom .item-flex {
    flex: 0 1;
}


